# Datos de la BD PostgreSQL (usa Neon, Render o Supabase DB)
DATABASE_URL="postgresql://usuario:contraseña@host:5432/nombre_db?schema=public"

# Secret key para JWT
JWT_SECRET="tu-secreto-muy-seguro-aqui"
JWT_EXPIRES_IN="24h"

# Puerto del servidor
PORT=3001
